<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCD0ayI-sTHIedeB8dZvAS8QOpMc-UN8GU</string>
	<key>GCM_SENDER_ID</key>
	<string>375592809232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emergencychat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatemergency-a6b0b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatemergency-a6b0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375592809232:ios:b5803eec94a4ed067feb95</string>
</dict>
</plist>